.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  border-radius: 32px;
  background: var(--theme-card-bg, #fff4f6);
  overflow-y: auto;
}

.title {
  margin: 0;
  font-family: var(--second-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image {
  width: 100%;
  max-width: 287px;
  height: 140px;
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 24px;
  object-fit: cover;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.textBlockMain {
  font-weight: 700;
}

.size,
.text,
.activity {
  margin: 0;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}

.description {
  margin: 0;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}

@media screen and (min-width: 768px) {
  .card {
    padding: 24px;
  }

  .top {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }

  .image {
    width: 257px;
    height: 194px;
  }

  .textBlock {
    flex: 1;
    padding-top: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    padding: 24px;
  }

  .image {
    width: 257px;
    height: 194px;
  }

  .textBlock {
    padding-top: 24px;
  }
}