.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.body {
  position: relative;
  border-radius: 40px;
  width: 335px;
  max-width: 768px;
  background-color: #ffffff;
  padding: 64px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeBtn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: black;
  margin-bottom: 48px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.option {
  font-family: 'Lato', sans-serif;
  border: none;
  border-bottom: 4px solid #ffcbd3;
  border-radius: 100px;
  padding: 10px 24px;
  width: 268px;
  height: 42px;
  background-color: #ffdae0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tak {
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
}