.page {
  min-height: 100vh;
  background-color: #ffffff;
}

.authPanel {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.authContainer {
  width: 100%;
  max-width: 335px;
  min-height: 711px;
  display: flex;
  flex-direction: column;
}

.logoWrapper {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
}

.formWrapper {
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 32px;
  font-family: var(--font-comfortaa);
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.imageWrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .authPanel {
    padding: 32px;
  }

  .authContainer {
    max-width: 704px;
    min-height: 828px;
  }

  .logoWrapper {
    width: 100%;
  }

  .formWrapper {
    width: 480px;
    margin: auto;
  }

  .title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    display: flex;
    width: 100%;
    max-width: 1440px;
    min-height: 900px;
    margin: 0 auto;
  }

  .authPanel {
    width: 50%;
    min-height: 900px;
    padding: 20px 64px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .authContainer {
    width: 592px;
    max-width: 592px;
    min-height: 828px;
    display: flex;
    flex-direction: column;
  }

  .logoWrapper {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
  }

  .formWrapper {
    width: 480px;
    margin: auto;
  }

  .title {
    font-size: 48px;
  }

  .imageWrapper {
    position: relative;
    display: block;
    width: 50%;
    min-height: 900px;
  }

  .image {
    object-fit: cover;
  }
}