http://localhost:3000/auth/login
http://localhost:3000/auth/register
http://localhost:3000/diary
http://localhost:3000/diary/1
http://localhost:3000/journey/10
http://localhost:3000/profile
http://localhost:3000/profile/edit
