.headerLogo {
  display: block;
}

.headerContainer {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
}

.menuButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 1;
}

@media screen and (min-width: 1440px) {
  .header {
    display: none;
  }
}