.container {
  height: 109px;
  display: flex;
  align-items: center; /* Центрування тексту по вертикалі всередині блоку */
  
  /* Відступи блоку відносно загального контейнера */
  padding: 0 32px;    /* Зліва й справа по 32px */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  /* Зовнішні відступи */
  margin-top: 16px;   /* Від блоку привітання до хлібних крихт */
  margin-bottom: 64px; /* Відступ знизу за загальною висотою */
  
  box-sizing: border-box;
}

.title {
  /* Типографія */
  font-size: 32px;
  font-weight: 700;
  color: #000;
  
  /* Обнулення дефолтних відступів браузера для h1 */
  margin: 0;
  line-height: normal;
}