.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.main {
  flex: 1;
  min-width: 0;
  overflow-y: auto;

}

@media screen and (min-width: 1440px) {
  .layout {
    display: grid;
    grid-template-columns: 312px 1fr;
    
  }

  .main {
    min-height: 100vh;
  }
}