/* .avatarWrap {
    width: 144px;
    height: 144px;
} */

.avatarBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 0 auto;
    gap: 24px;
}

.avatar {
    align-items: center;
    width: 164px;
    height: 164px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 28px rgba(194, 171, 171, 0.2);
    /* margin: 0 auto; */
}



.button {
    /* align-items: center; */
    /* align-self: flex-start; */

    min-height: 38px;
    width: 162px;
    padding: 8px 20px;
    border: none;
    border-bottom: 4px solid var(--opacity-neutral-darkest-15);
    border-radius: 999px;
    background: var(--opacity-neutral-darkest-5);

    font-size: 14px;
    cursor: pointer;
    transition: transform 200ms ease, background-color 200ms ease;
    color: var(--color-scheme-text);
}

.button:hover,
.button:focus {
    background-color: #f2ebeb;
    outline: none;
}

.button:active {
    transform: translateY(2px);
}

.button:disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

.hiddenInput {
    display: none;
}

@media screen and (min-width: 768px) {
    .card {
        flex-direction: row;
        align-items: center;
    }

    .content {
        flex: 1;
    }
}