.page {
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  .onboardingSection {
    min-height: 100vh;
    padding: 20px;
  
    display: flex;
    justify-content: center;
  }
  
  .onboardingContainer {
    width: 100%;
    max-width: 335px;
    min-height: 711px;
  
    display: flex;
    flex-direction: column;
  }
  
  .logoWrapper {
    width: 100%;
    height: 72px;
  
    display: flex;
    align-items: center;
  }
  
  .formWrapper {
    width: 100%;
    margin: auto 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    margin: 0 0 32px;
  
    font-family: var(--font-comfortaa);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
  
    color: #000000;
  }
  
  .imageWrapper {
    display: none;
  }
  
  /* ================= TABLET ================= */
  
  @media screen and (min-width: 768px) {
    .onboardingSection {
      padding: 32px;
    }
  
    .onboardingContainer {
      max-width: 704px;
      min-height: 828px;
    }
  
    .formWrapper {
      width: 480px;
      margin: auto;
    }
  
    .title {
      font-size: 48px;
    }
  }
  
  /* ================= DESKTOP ================= */
  
  @media screen and (min-width: 1440px) {
    .page {
      display: flex;
  
      width: 100%;
      max-width: 1440px;
      min-height: 900px;
  
      margin: 0 auto;
    }
  
    .onboardingSection {
      width: 50%;
      min-height: 900px;
  
      padding: 20px 64px;
  
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  
    .onboardingContainer {
      width: 592px;
      max-width: 592px;
      min-height: 828px;
  
      display: flex;
      flex-direction: column;
    }
  
    .formWrapper {
      width: 480px;
      margin: auto;
    }
  
    .title {
      font-size: 48px;
    }
  
    .imageWrapper {
      position: relative;
  
      display: block;
  
      width: 50%;
      min-height: 900px;
  
      overflow: hidden;
    }
  
    .image {
      width: 100%;
      height: 100%;
  
      object-fit: cover;
    }
  }